langchain
python-dotenv
langchain_community
pypdf
bs4
arXiv
langchain_docling
PyMuPDF 
pymupdf
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
langserve
langchain_groq
sse_starlette
streamlit